<div class="drapeau">
    <img width="5%" src = <%= flag%> />
</div>

<div class="monument">
    <img src = <%= monument%> /> 
    <img class="icon" src="/images/items/flecheBD1.png">
    <p><%= nomMonument%></p>
</div>

<div class="texte-descpays">
    <div class="lang" id="descpays" data-lang=<%=id%>></div>   

    <%if(!ok){%>
        <div id="add-del">
            <button id="addPAV" class="lang" data-lang="addPAV"></button>
            <button id="delPAV" class="lang" data-lang="delPAV"></button>         
        </div>
    <%}%>        
</div>

<div class="region">
    <img src = <%= map%> />
</div>
    
<h3 id="moyenne"><span class="lang" data-lang="moyenneUser"></span>: <%= moyenne%> / 5</h3>

<div id="avis-internaute">
    
    <% 
        var taille = avis.length; 
        if(taille > 3)
        {
            taille = 3;
        }
    %>
    <%for(var i=0; i<taille; i++){%>
        <fieldset class="avis fieldset-avis">
            <legend><%= avis[i][0]%></legend>
            <p class="date"><%= avis[i][1]%></p>
            <p class="note"><%= avis[i][2]%> / 5</p>
            <p class="p-avis"><%= avis[i][3]%></p>
        </fieldset>            
    <%}%>
    
    <a href="/decouverte/<%=id%>/avis" class="lang" data-lang="voirtout"></a>
</div>

