<div class="drapeau">
    <img width="5%" src = <%= flag%> />        
</div>

<div id="div-avis">
    <fieldset class="fieldset-avis">
        <legend class="lang" data-lang="monAvis"></legend>
        <p class="date"><%=date%></p>
        <p class="note"><%=note%> / 5 </p>            
        <p class="p-avis"><%= com%></p>
    </fieldset>
</div>

<button id="updatePV"> <a href="/mespays/<%=id%>/sauvegarde" class="lang" data-lang="updatePV"></a></button>