<div id="pays">
    <img width="5%" src = <%= flag%> />
    <div id="div-avis">
        <fieldset>
            <legend>Mon Avis</legend>
            <h3><%=date%></h3>
            <h3><%=note%> / 5 </h3>            
            <p><%= com%></p>
        </fieldset>
    </div>
    
    <button id="updatePV"> <a href="/mespays/<%=id%>/sauvegarde">Modifier</a></button>
</div>